<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Green Leaf - Contact Us</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/bd5c7c48a0.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="pics/favicon.ico" type="image/x-icon">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: 'Poppins', sans-serif;
            box-sizing: border-box;
        }

        h1 {
            font-size: 50px;
            line-height: 64px;
            color: #222;
        }

        h2 {
            font-size: 46px;
            line-height: 54px;
            color: #222;
        }

        h4 {
            font-size: 20px;
            color: #222;
        }

        h6 {
            font-size: 12px;
            font-weight: 700;
        }

        p {
            font-size: 16px;
            margin: 15px 0 20px 0;
            color: rgb(59, 54, 54);
            font-weight: 300;

            line-height: 22px;
            padding: 10px;
        }

        .section-p1 {
            padding: 40px 80px;
        }

        .section-m1 {
            margin: 40px 0;
        }

        body {
            width: 100%;
        }

        #header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 80px;
            background: #fff;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);

        }

        #navbar {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #navbar li {
            list-style: none;
            padding: 0 20px;
        }

        #navbar li a {
            text-decoration: none;
            font-size: 16px;
            font-weight: 600;
            color: #1a1a1a;
            transition: 0.3 ease;
        }

        .row {
            display: flex;
            justify-content: space-between;
            margin-top: 5%;
        }

        #navbar li a:hover {
            color: #088178;
        }

        .hero-btn {
            text-decoration: none;
            color: #090808;
            display: inline-block;
            border: 1px solid #fff;
            padding: 13px 34px;
            font-size: 13px;
            background: #8ad751;
            position: relative;
            cursor: pointer;
        }

        .hero-btn:hover {
            border: 1px solid #8ad751;
            background: #6e9a2a;
            transition: 1s;
        }

        .about-us {
            width: 80%;
            margin: auto;
            padding-top: 80px;
            padding-bottom: 50px;
        }

        .about-col {
            flex-basis: 48%;
            padding: 30px 2px;
        }

        .about-col img {
            width: 100%;
            width: 500px;
            height: 500px;
        }

        .about-col h1 {
            margin-left: 10px;
        }

        .footer
        {
            width: 100%;
            text-align: center;
            padding: 30px 0;
        }

        .icon .fa-brands
        {
            color: #f44336;
            margin: 0 13px;
            cursor: pointer;
            padding: 18px 0;
        }

        @media (max-width: 768px) {
            .featured-card {
                max-width: 100%;
            }
        }
    </style>
</head>

<body>
    
    <section class="about-us">
        <div class="row">
            <div class="about-col">
                <h1>We are India's Best Online Vegetable Market</h1>
                <p>
                    Welcome to, your one-stop destination for the freshest and finest vegetables sourced directly from
                    local farms. We take pride in delivering farm-fresh goodness right to your doorstep, ensuring you
                    and your family get the best quality produce every time. Our carefully curated selection of
                    vegetables includes a wide variety of greens, roots, and seasonal delights, handpicked to meet your
                    culinary needs and preferences. From juicy tomatoes to crisp bell peppers and vibrant leafy greens,
                    we have everything you need to create nutritious and flavorful meals. Here, we prioritize quality
                    and freshness above all else. Our team of expert farmers and quality control specialists work
                    tirelessly to ensure that each vegetable meets our stringent standards. From the field to your
                    plate, our vegetables undergo rigorous checks to guarantee their freshness and taste. In addition to
                    being a reliable source of fresh produce, we also aim to make your shopping experience convenient
                    and enjoyable. With our user-friendly website, you can easily browse our extensive range of
                    vegetables, select your favorites, and place your order in just a few clicks. We offer flexible
                    delivery options, so you can choose a time that suits your schedule best.
                </p>
                <a href="" class="hero-btn red-btn">Explore Now</a>
            </div>
            <div class="about-col">
                <img src="/img/fruits and vege 1.png" alt="">
            </div>
        </div>
    </section>

    


</body>

</html>